body{
	background:#000;
	color: #fff;
}
html{
	font-size: 100px;
}
.has{
	color: blue;	
}
.nohas{
	color: red;
}
.search,.box{
	width: 100%;
	height: auto;
	input{
		font-size: .14rem;
	}
	table{
		td{
			width:1rem;
			height: .25rem;
			line-height: .25rem;
			text-align: center;
			border-collapse: 0;
			border:1px solid #fff;
			font-size: .16rem;
		}
	}
}
.tri-up {
    border-left: .1rem solid transparent;
    border-right: .1rem solid transparent;
    border-bottom: .1rem solid #fff;
}
.tri-down{
    border-left: .1rem solid transparent;
    border-right: .1rem solid transparent;
    border-top: .1rem solid #fff;
}
span{
	display: inline-block;
	width: 0;
    height: 0;
}
